[submodule "repos/ClimaCoupler.jl"]
	path = repos/ClimaCoupler.jl
	url = https://github.com/CliMA/ClimaCoupler.jl.git
[submodule "repos/ClimaCore.jl"]
	path = repos/ClimaCore.jl
	url = https://github.com/CliMA/ClimaCore.jl.git
[submodule "repos/ClimaTimesteppers.jl"]
	path = repos/ClimaTimesteppers.jl
	url = https://github.com/CliMA/ClimaTimesteppers.jl.git
[submodule "repos/Thermodynamics.jl"]
	path = repos/Thermodynamics.jl
	url = https://github.com/CliMA/Thermodynamics.jl.git
[submodule "repos/RRTMGP.jl"]
	path = repos/RRTMGP.jl
	url = https://github.com/CliMA/RRTMGP.jl.git
[submodule "repos/ClimaAtmos.jl"]
	path = repos/ClimaAtmos.jl
	url = https://github.com/CliMA/ClimaAtmos.jl.git
